In [1]:
import pandas as pd
weather=pd.read_csv('weatherAUS.csv')
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [2]:
weather.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [3]:
weather.drop(['Evaporation'],inplace=True,axis=1)
weather.drop(['Cloud9am'],inplace=True,axis=1)
weather.drop(['Cloud3pm'],inplace=True,axis=1)
weather.drop(['Date'],inplace=True,axis=1)

In [6]:
#dropping columns which had too many NaN values
weather.drop(['Sunshine'],inplace=True,axis=1)
weather.drop(['WindDir9am'],inplace=True,axis=1)
weather.drop(['Pressure3pm'],inplace=True,axis=1)

In [7]:
#dropping rows which had NaN values
weather.dropna(inplace=True)

In [11]:
#dummies of columns which had categorical data
loc=pd.get_dummies(weather['Location'],drop_first=True)
wind_gust_dir=pd.get_dummies(weather['WindGustDir'],drop_first=True)
wind_dir_3am=pd.get_dummies(weather['WindDir3pm'],drop_first=True)
rain_today=pd.get_dummies(weather['RainToday'],drop_first=True)

In [12]:
weather.drop(['Location'],inplace=True,axis=1)
weather.drop(['WindGustDir'],inplace=True,axis=1)
weather.drop(['WindDir3pm'],inplace=True,axis=1)
weather.drop(['RainToday'],inplace=True,axis=1)

In [13]:
weather=pd.concat([weather,loc,wind_gust_dir,wind_dir_3am,rain_today],axis=1)

In [16]:
X=weather.drop('RainTomorrow',axis=1)
y=weather['RainTomorrow']

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [21]:
from sklearn.ensemble import RandomForestClassifier
random=RandomForestClassifier()

In [22]:
random.fit(X_train,y_train)

C:\Users\Akanksha\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [24]:
predictions=random.predict(X_test)

In [26]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [27]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

          No       1.00      1.00      1.00     30671
         Yes       1.00      1.00      1.00      8612

   micro avg       1.00      1.00      1.00     39283
   macro avg       1.00      1.00      1.00     39283
weighted avg       1.00      1.00      1.00     39283

In [29]:
print(confusion_matrix(y_test,predictions))

[[30671     0]
 [   21  8591]]

In [30]:
print(accuracy_score(y_test,predictions))

0.9994654176106713